/* Page config: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif, serif;
  letter-spacing: 1px;
  color: white;
}
body {
  min-width: 1280px;
  min-height: 720px;
  height: 100vh;
  zoom: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* UI helpers: */
.redBorder {
  border: rgb(0, 55, 255) 2px solid;
}
.whiteBorder {
  border: white 2px solid;
}

/* Body elements: */
.interface {
  width: 100%;
  height: 35vh;
  min-height: 167px;
  border: white 2px solid;
  background-color: #000;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#field {
  width: 100%;
  min-width: 600px;
  height: 75vh;
  background-color: #111;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Interface elements: */
.profilePic {
  margin: 15px;
  aspect-ratio: 1 / 1;
  height: 140px;
  border: red 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profilePic img {
  width: 100%;
}

.hand {
  width: 70%;
  min-width: 600px;
  height: 98%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.enemyCardInHand {
  transition: 400ms;
  margin: 5px;
  border: white 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enemyCardInHand:hover {
  border: rgb(0, 55, 255) 2px solid;
}

.card {
  transition: 400ms;
  margin: 5px;
  padding: 2px;
  background-color: white;
  border: solid white 2px;

  display: flex;
  flex-direction: column;
}

.card:hover {
  border: rgb(0, 55, 255) 2px solid;
  margin-bottom: 30px;
}

.cardImg {
  min-height: 104px;
}

.deck {
  width: 108px;
  height: 156px;
  border: white solid 2px;
  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Field elements: */
#turnInformationText {
  font-size: 1.5em;
}

.fieldContainer {
  width: 100%;
  height: 25vh;
  min-height: 167px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardInField {
  transition: 400ms;
  margin: 5px;
  border: white 2px solid;
  display: flex;
  flex-direction: column;
}

.cardInField:hover {
  border: rgb(0, 55, 255) 2px solid;
}

.pointsContainer {
  border-top: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.atkPointsContainer {
  color: black;
  border: 2px black solid;
  font-weight: bold;
  background-color: rgb(206, 56, 56);
  width: 50%;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.defPointsContainer {
  color: black;
  border: 2px black solid;
  border-left: none;
  font-weight: bold;
  background-color: rgb(16, 101, 211);
  width: 50%;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.spellColorContainer {
  color: black;
  border: 2px black solid;
  font-weight: bold;
  background-color: rgb(66, 25, 250);
  width: 100%;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.lifePointsContainer {
  aspect-ratio: 1 / 1;
  min-height: 100px;
  font-size: 1.2em;
  border-radius: 50%;
  font-size: 30px;
  padding-left: 60px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.discartPile {
  width: 108px;
  height: 156px;
  border: white solid 2px;
  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.roundDarkText {
  background-color: black;
  aspect-ratio: 1 / 1;
  width: 70px;
  border-radius: 50%;

  font-weight: bold;
  font-size: 1.5em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.fieldBattle {
  width: 70%;
  min-height: 180px;

  display: flex;
  justify-content: center;
  align-items: center;
}
