main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#rulesContainer{
  padding-top: 20px;
  max-width: 1200px;
  font-size: 1.5em;
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
}